* {
    max-width: 100%;
    overflow-x: hidden;
}

.founder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.icon-padding {
    padding: 5px;
}

.beach-image {
    max-width: 100vw;
}

.slideshow-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.seperator {
    position: relative;
    width: 100w;
    height: 400px;
    object-fit: cover;
    object-position: center;
    display: block;
    overflow: hidden;
}

.grid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gird-box{
    flex: 1;
    height: 400px;
    min-width: 250px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}